<div class="presentacion-container">
    <div class="header">
      <img src="assets/img/miguelina_ruiz.jpg" alt="Foto de Perfil" class="profile-pic">
      <h1>{{nombre}}</h1>
      <p>{{titulo}}</p>
    </div>
    
    <div class="contact-buttons">
        <button (click)="saveContact('instagram')">
          <img src="assets/img/instagram.png" alt="Instagram">
        </button>
        <button (click)="saveContact('linkedin')">
          <img src="assets/img/linkedin.png" alt="LinkedIn">
        </button>
        <button (click)="saveContact('phone')">
            <img src="assets/img/save-contact.png" alt="LinkedIn">
          </button>
    </div>
  </div>